.Header {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  .HeaderText {
    cursor: pointer;
    font-size: 32px;
    color: #7a9709;
  }

  .SearchBlock {
    display: flex;
    flex: 1;
    height: 34px;
    margin: 5px 40px;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    max-width: 50%;
    .SearchBar {
      outline: none;
      margin-left: 20px;
      width: 100%;
      border: 0px transparent;
      font-size: 18px;
    }
    .SearchButton {
      display: flex;
    }
  }

  .IconsBlock {
    display: flex;
    svg {
      margin-left: 20px;
    }
  }

  svg {
    cursor: pointer;
  }
}
