.Header {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  .HeaderText {
    cursor: pointer;
    font-size: 32px;
    color: #7a9709;
  }

  .SearchBlock {
    display: flex;
    flex: 1;
    height: 34px;
    margin: 5px 40px;
    align-items: center;
    max-width: 50%;
    .SearchBar {
      outline: none;
      height: 32px;
      width: 100%;
      padding: 0px 10px 0px 10px;
      background-color: #f5f5f5;
      border: 1px solid #7a9709;
      border-radius: 6px;
      font-size: 18px;
      &:focus {
        background-color: white;
      }
    }
    .SearchButton {
      display: flex;
      background-color: transparent;
    }
    .AutocompleteList {
      position: absolute;
      top: 36px;
      font-size: 18px;
      background-color: white;
      border: 1px solid #7a9709;
      border-radius: 6px;
      z-index: 10;
      max-height: 20%;
      overflow-y: auto;
      min-width: 20%;
      max-width: 40%;
      list-style-type: none;
      padding: 0px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      .AutocompleteItem {
        cursor: pointer;
        text-align: center;
        margin: 5px 0px 5px 0px;
        border-bottom: 1px solid #eeeeee;
        &:hover {
          background-color: #fafafa;
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .IconsBlock {
    display: flex;
    svg {
      margin-left: 20px;
    }
  }

  svg {
    cursor: pointer;
    path {
      stroke: #637c04;
    }
    g {
      path {
        fill: #637c04;
      }
    }
  }
}
